{% extends "base.html" %}
{% block title %}{{ SITENAME }} - [categories]{% endblock %}
{% block content %}
<ul>
{% for category, articles in categories|sort(attribute='title') %}
	<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</li>
{% endfor %}
</ul>

{% endblock %}
